@import "./mixins.scss";
@import "./Fonts.scss";
.main-game-container{
    @include backgroundVideoMobile();
    color :rgb(255, 255, 255);
    font-family: "Agbalumo", sans-serif;
    text-shadow:1px 1px 1px rgb(7, 14, 40);
    height:100vh;
    overflow:auto;
    display:flex;
    flex-direction : column;
    align-items:center;
    header{
        width:100%;
        display:flex;
        align-items:center;
        flex-direction:column;
        gap:10px;
        @media screen and (min-width:700px){
            flex-direction:row;
            
        }
    }
}