@import "./mixins.scss";

.main-lose-container {
	@include backgroundVideo();
	@include endPage();
	h1 {
		margin-top: 50px;
		color: rgb(238, 29, 29);
		text-shadow: 2px 2px 20px rgba(168, 36, 36, 0.622), -2px -2px 20px rgba(117, 42, 42, 0.71), 2px -2px 20px rgb(117, 42, 42, 0.71), -2px 2px 20px rgb(117, 42, 42, 0.71);
		animation: 1.5s ease-in 0s scaleInSlow forwards;
	}
	p.description {
		opacity: 0;
		animation: 1s ease-in 1.5s revealFast forwards;
		color: rgb(243, 243, 243);
	}
	.btn-container {
		button {
			background: linear-gradient(90deg, rgb(243, 74, 74) 0%, rgb(162, 103, 218) 78%, rgb(123, 93, 242) 100%);
			@media screen and (min-width: 700px) {
				&:last-child {
					background: linear-gradient(90deg, rgb(123, 93, 242) 0%, rgb(162, 103, 218) 22%, rgb(243, 74, 74) 100%);
				}
			}
		}
	}
}

@keyframes scaleInSlow {
	0% {
		scale: 1.3;
		opacity: 0;
	}
	100% {
		scale: 1;
		opacity:1;
	}
}

@keyframes revealFast {
	0% {
		opacity: 0;
	}
	100% {
		opacity:1;
	}
}