@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Allerta+Stencil&family=Special+Elite&display=swap");

@font-face {
    font-family:'DSFont';
    src:url('../assets/font//OptimusPrinceps.ttf') format('truetype');
}
@font-face{
    font-family:'DescFont';
    src: url('../assets/font//AGaramondPro-Regular.otf') formar('opentype');
}